@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap");

:root {
  --violet: hsl(263, 55%, 52%);
  --gray-blue: hsl(217, 19%, 35%);
  --black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: var(--light-grayish-blue);
}

.container {
  display: grid;
  grid-gap: 19px;
  margin: 50px;
  grid-template-areas:
    "clifford clifford walters whittle"
    "harmon abrams abrams whittle";
}

.clifford {
  grid-area: clifford;
  background-color: var(--violet);
}

.walters {
  grid-area: walters;
  background-color: var(--gray-blue);
}

.harmon {
  grid-area: harmon;
  background-color: var(--white);
}

.abrams {
  grid-area: abrams;
  background-color: var(--black-blue);
}

.whittle {
  grid-area: whittle;
  background-color: var(--white);
}

img {
  border-radius: 50%;
  border: 2px solid hsl(263, 55%, 52%);
}

article {
  padding: 35px;
  border-radius: 10px;
}

header {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 56px auto;
}

/* same-3 */
.same-3 h3 {
  margin-bottom: 0;
  margin-top: 5px;
  color: hsl(0, 0%, 81%);
}

.same-3 h4 {
  color: hsl(0, 0%, 81%, 0.5);
  margin-top: 0;
}

.same-3 h2 {
  color: hsl(0, 0%, 81%, 0.7);
  font-size: 1.3rem;
  font-weight: 500;
}

.same-3 h1 {
  color: hsl(0, 0%, 100%, 0.9);
  font-size: 1.5em;
  font-weight: 600;
}

/* same-2 */
.same-2 h3 {
  margin-bottom: 0;
  margin-top: 5px;
  color: hsl(217, 19%, 35%);
}

.same-2 h4 {
  color: hsl(217, 19%, 35%, 0.5);
  margin-top: 0;
}

.same-2 h2 {
  color: hsl(217, 19%, 35%, 0.7);
  font-weight: 500;
  font-size: 1.3em;
}

.same-2 h1 {
  color: hsl(219, 29%, 14%, 0.9);
  font-size: 1.5em;
  font-weight: 600;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "clifford"
      "walters"
      "harmon"
      "abrams"
      "whittle";
  }
}
